/*Variables*/

:root {
  --deftraback: rgba(229, 9, 20, 0.2) !important;
  --rounding: 5px;
  --accent: #e50914;
}

/*Highlight*/

::-moz-selection {
  background: var(--accent);
  text-shadow: none;
}

::selection {
  background: var(--accent);
  text-shadow: none;
}

/*fieldset*/

fieldset.verticalSection.verticalSection-extrabottompadding {
  border-radius: var(--rounding);
  border-color: #4d4d4d;
}

/*Square Cards and Portrait Cards*/

#loginPage .squareCard {
  width: 50% !important;
}

.layout-mobile .portraitCard {
  width: 50%;
}

@media all and (min-width: 32em) and (max-width: 100em) {
  .layout-mobile .portraitCard {
    width: 50%;
  }
}

.emby-input:focus,
.emby-textarea:focus {
  border-color: var(--accent);
}

#itemDetailPage
  button.cardImageContainer.coveredImage.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast {
  border-radius: 5px;
}

/*cardbox border-radius change*/

#indexPage
  button.cardImageContainer.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.emby-scroller button.cardImageContainer.coveredImage.cardContent,
.childrenItemsContainer button.cardImageContainer.coveredImage.cardContent,
.nextUpItems
  button.cardImageContainer.cardContent.itemAction.lazy.blurhashed.lazy-image-fadein-fast,
.vertical-wrap button.cardImageContainer.coveredImage.cardContent,
.emby-scroller button.cardImageContainer {
  border-radius: 5px 5px 0px 0px !important;
}

.cardBox:not(.visualCardBox) .cardPadder,
.cardContent-shadow {
  box-shadow: none;
}

.cardBox.cardBox-bottompadded {
  background: rgba(0, 0, 0, 0.25);
}

.itemProgressBar {
  background: none;
  height: 928em;
}

.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground {
  background-color: var(--deftraback) !important;
}

.cardBox {
  box-shadow: 0px 0px 9px 0px rgb(0 0 0);
}

/*Theming video page*/

.videoOsdBottom {
  font-size: 110%;
}

.osdHeader {
  background: linear-gradient(
    180deg,
    rgba(16, 16, 16, 0.75),
    rgba(16, 16, 16, 0)
  ) !important;
}

.layout-desktop .osdControls {
  max-width: 100%;
}

.mdl-slider::-webkit-slider-thumb {
  background: var(--accent);
}

/*Top Bar Transparent*/

.force-scroll {
  overflow: hidden;
}

div[data-role="page"],
.libraryPage:not(.noSecondaryNavPage) {
  margin-top: 9em;
  padding-top: 0px !important;
  overflow: hidden scroll;
}

@media (min-width: 100em) {
  div[data-role="page"] {
    margin-top: 5em !important;
    padding-top: 0px !important;
    overflow: hidden scroll;
  }
}

div[data-role="page"]:not(.withTabs) {
  margin-top: 4em !important;
}

.layout-tv body {
  overflow-y: scroll;
}

.layout-tv div[data-role="page"] {
  margin: 0;
  overflow: visible;
}

.skinHeader-withBackground {
  background-color: rgba(0, 0, 0, 0) !important;
}

/*Theming Indicators*/

.playedIndicator,
.countIndicator {
  border-radius: 5px;
  box-shadow: 0 0 15px -2px black;
}

.countIndicator,
.fullSyncIndicator,
.playedIndicator {
  background: #ffffffad;
  color: var(--accent);
}

.playedIndicator {
  background: var(--accent);
  color: white;
  box-shadow: 0 0 15px -2px black;
}

button.emby-tab-button.emby-button.emby-tab-button-active:hover {
  color: var(--accent) !important;
}

.emby-tab-button.show-focus:focus,
.emby-tab-button:hover {
  color: var(--accent) !important;
}

/*Theming Title Page*/

div#itemBackdrop {
  height: 100% !important;
  z-index: 0;
  position: absolute;
  background-position: center center;
  width: 100%;
  background-size: cover;
  background-attachment: scroll;
}

div#itemBackdrop::after {
  background: linear-gradient(
      to top,
      #181819 0,
      rgba(24, 24, 24, 0.987) 1.62%,
      rgba(24, 24, 24, 0.951) 3.1%,
      rgba(24, 24, 24, 0.896) 4.5%,
      rgba(24, 24, 24, 0.825) 5.8%,
      rgba(24, 24, 24, 0.741) 7.06%,
      rgba(24, 24, 24, 0.648) 8.24%,
      rgba(24, 24, 24, 0.55) 9.42%,
      rgba(24, 24, 24, 0.45) 10.58%,
      rgba(24, 24, 24, 0.352) 11.76%,
      rgba(24, 24, 24, 0.259) 12.94%,
      rgba(24, 24, 24, 0.175) 14.2%,
      rgba(24, 24, 24, 0.104) 15.5%,
      rgba(24, 24, 24, 0.049) 16.9%,
      rgba(26, 24, 24, 0.013) 18.38%,
      rgba(24, 24, 24, 0) 20%
    ),
    rgba(24, 24, 24, 0.35) !important;
}

div#itemBackdrop::before {
  content: "";
  top: 0;
  bottom: 0;
  right: -200px;
  left: 0;
  width: 35%;
  min-width: 500px;
  max-width: 800px;
  position: absolute;
  background: linear-gradient(
    to right,
    #181818 10%,
    rgba(24, 24, 24, 0.98) 20%,
    rgba(24, 24, 24, 0.97) 25%,
    rgba(24, 24, 24, 0.95) 35%,
    rgba(24, 24, 24, 0.94) 40%,
    rgba(24, 24, 24, 0.92) 45%,
    rgba(24, 24, 24, 0.9) 50%,
    rgba(24, 24, 24, 0.87) 55%,
    rgba(24, 24, 24, 0.82) 60%,
    rgba(24, 24, 24, 0.75) 65%,
    rgba(24, 24, 24, 0.63) 70%,
    rgba(24, 24, 24, 0.45) 75%,
    rgba(24, 24, 24, 0.27) 80%,
    rgba(24, 24, 24, 0.15) 85%,
    rgba(24, 24, 24, 0.08) 90%,
    rgba(24, 24, 24, 0.03) 95%,
    rgba(24, 24, 24, 0) 100%
  );
}

.detailPageSecondaryContainer {
  margin: 0em !important;
  background: transparent;
}

div#itemDetailPage {
  background: #181818;
  overflow-x: hidden;
}

.detailPagePrimaryContent {
  position: relative;
  width: 50%;
  padding-left: 1rem;
  background: transparent;
  padding-bottom: 5rem;
  min-height: 42vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-shadow: 1px 1px 5px #181818;
}

.layout-mobile .detailPagePrimaryContent {
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 0;
}

#itemDetailPage .itemExternalLinks {
  margin-top: 0 !important;
}

#itemDetailPage .detailVerticalSection {
  background: #181818;
  padding-left: 1rem;
  width: calc(100% - 1rem);
  margin-left: 0;
}

.layout-mobile #itemDetailPage .detailVerticalSection {
  background: transparent;
  width: 100%;
  padding: 0;
}

.itemName.parentNameLast {
  margin: 0;
  font-size: 3rem;
}

/* Center the mouseover buttons */

#castContent
  .cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light {
  margin: auto;
}

@media (max-width: 456px) {
  .layout-mobile .infoText {
    z-index: 1;
    margin-top: 15rem;
  }
}

@media (max-width: 341px) {
  .layout-mobile .primaryImageWrapper::before {
    background: linear-gradient(to top, #181818 30%, transparent);
  }
}

/*media queries for 360x640*/

@media (max-device-width: 361px) and (max-device-height: 641px) {
  .layout-mobile .primaryImageWrapper::before {
    background: linear-gradient(to top, #181818 25%, transparent) !important;
  }
  .detailLogo.lazy.lazy-image-fadein-fast {
    top: 50% !important;
  }
}

.layout-mobile
  .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
  padding-top: 4.5rem !important;
  padding-bottom: 0 !important;
}

@media (max-width: 321px) {
  .layout-mobile .mainDetailButtons,
  .layout-mobile .infoText {
    font-size: 80%;
  }
}

@media (max-width: 769px) and (min-width: 425px) {
  .layout-mobile .infoText {
    margin-top: 24rem;
  }
  .primaryImageWrapper::before {
    background: linear-gradient(to top, #181818 20%, transparent);
  }
}

@media (max-width: 62.5em) {
  .detailPageSecondaryContainer {
    margin-top: -0.5px;
  }
  .section0 .cardText.cardTextCentered.cardText-first {
    height: 2.5em;
  }
}

@media (max-width: 62.5em) and (orientation: portrait) {
  button.cardOverlayButton.cardOverlayButton-br.itemAction.paper-icon-button-light {
    text-shadow: 0 0 10px black;
    color: white !important;
  }
}

@media (max-width: 62.5em) and (orientation: landscape) {
  button.cardOverlayButton.cardOverlayButton-br.itemAction.paper-icon-button-light {
    margin-top: 9em !important;
    top: 0;
    text-shadow: 0 0 10px black;
    color: white;
  }
}

@media all and (min-width: 32em) and (max-width: 100em) and (orientation: landscape) {
  .layout-mobile .detailPageSecondaryContainer {
    margin: 0;
  }
  .detailPagePrimaryContent {
    width: 55%;
  }
  .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
    margin-top: 0;
    padding-top: 15rem !important;
  }
}

@media (max-height: 816px) {
  .layout-mobile .primaryImageWrapper::before {
    background: linear-gradient(to top, #181818 15%, transparent);
  }
}

@media (max-height: 641px) {
  .layout-mobile #itemDetailPage .detailLogo {
    top: 53%;
  }
}

@media all and (min-width: 32em) and (max-width: 100em) and (orientation: portrait) {
  span.material-icons.detailButton-icon.favorite {
    color: var(--accent);
    transform: scale(1.3);
  }
  .layout-desktop .detailRibbon,
  .layout-tv .detailRibbon {
    height: 3em;
  }
  .detailPageSecondaryContainer {
    margin-top: -0.5px;
  }
  .layout-mobile .detailPageSecondaryContainer {
    margin: 0 !important;
  }
}

@media all and (max-width: 32em) {
  .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
    font-size: smaller;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
  }
  .layout-mobile .detailPageSecondaryContainer {
    margin: 0;
  }
  .detailPageWrapperContainer {
    border-spacing: 0;
    border-collapse: collapse;
  }
}

.layout-mobile .detailPageWrapperContainer {
  margin-top: 0em;
  z-index: 0;
}

.layout-mobile .detailPagePrimaryContainer {
  z-index: -1;
}

.layout-mobile .primaryImageWrapper {
  flex: 0 0 auto;
}

.layout-mobile .mainDetailButtons {
  z-index: 1;
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.layout-mobile .infoText {
  z-index: 1;
  margin-top: 29rem;
}

.layout-mobile .primaryImageWrapper > img {
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
  -webkit-filter: brightness(65%);
  filter: brightness(65%);
  z-index: -1;
  max-height: unset;
  -o-object-fit: cover;
  object-fit: cover;
}

.primaryImageWrapper::before {
  content: "";
  display: block;
  background: linear-gradient(to top, #181818 30%, transparent);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.layout-mobile
  .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
  font-size: 120%;
}

.cardText > .textActionButton {
  width: 100%;
  height: 100% !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Login Page*/

div#loginPage {
  margin-top: 0 !important;
}

#loginPage h1::after {
  content: "Sign In";
  font-size: 32px;
}

#loginPage h1 {
  font-weight: 700;
  font-size: 0;
  margin-bottom: 21.44px;
  margin-top: 32px !important;
}

.inputContainer {
  margin-bottom: 1.8em;
  margin-top: 1.8em;
}

#loginPage .padded-left.padded-right.padded-bottom-page {
  background: #000000bf;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  border-radius: 10px;
}

@media all and (max-width: 100em) and (orientation: portrait) {
  #loginPage .padded-left.padded-right.padded-bottom-page {
    margin-top: 0 !important;
    width: -webkit-fill-available !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
}

/*Login background with radial gradient overlay to make it look like netflix login*/

#loginPage {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent 20%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent 20%),
    linear-gradient(to left, rgba(0, 0, 0, 0.75), transparent 20%),
    linear-gradient(to right, rgba(0, 0, 0, 0.75), transparent 20%),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/92bb3a0b-7e91-40a0-b27b-f2c3ac9ef6e4/3823cff1-a0ce-4532-b99a-d47d99df9599/US-en-20210322-popsignuptwoweeks-perspective_alpha_website_large.jpg) !important;
  background-size: cover !important;
}

.emby-checkbox:checked + span + .checkboxOutline {
  border-color: var(--accent) !important;
}

/*Progress Bar*/

.emby-checkbox:checked + span + .checkboxOutline {
  background-color: var(--accent) !important;
}

/*video Page*/

div#videoOsdPage {
  overflow: hidden !important;
  margin-top: 0 !important;
}

.mdl-slider-background-lower {
  background-color: var(--accent) !important;
}

.sliderBubble {
  background: var(--deftraback) !important;
  border-radius: 10px;
}

/*Scroll Bar theme*/

::-webkit-scrollbar-thumb {
  background: var(--accent) !important;
}

.page {
  padding-bottom: 0 !important;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0) !important;
}

.button-link {
  color: white !important;
}

/*Fonts */

@font-face {
  font-family: "Netflix Sans";
  font-weight: 100;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 300;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 400;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 700;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 800;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 900;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff)
      format("woff");
}

body,
h1,
h2,
h3,
h4 {
  font-family: "Netflix Sans" !important;
}

/*Subtitle Fonts (Netflix Sans Medium) thanks the u/Edgementality-https://bit.ly/33slrSa*/

/*Firefox*/

.videoSubtitles {
  font-family: "Netflix Sans", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1) !important;
}

/*Chrome, Edge Chromium & Saffari*/

video::-webkit-media-text-track-display {
  font-family: "Netflix Sans", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: rgba(0, 0, 0, 1) 0em 0em 0.2em !important;
}

/*backup for subtitles*/

video::-webkit-media-text-track-container {
  font-family: "Netflix Sans", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: rgba(0, 0, 0, 1) 0em 0em 0.2em !important;
}

video:cue {
  font-family: "Netflix Sans", sans-serif !important;
  font-weight: 700 !important;
  text-shadow: rgba(0, 0, 0, 1) 0em 0em 0.2em !important;
}

/*Rounded corners on pretty much everything-Source Monochromic*/

.formDialogHeader {
  border-top-left-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}

.formDialogFooter {
  border-bottom-left-radius: var(--rounding);
  border-bottom-right-radius: var(--rounding);
}

.cardOverlayContainer {
  border-radius: var(--rounding) !important;
}

.toast,
.paperList,
.cardContent,
.sessionNowPlayingInnerContent,
.cardImage,
.fab,
.multiSelectCheckboxOutline,
.itemSelectionPanel,
.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.cardImageContainer,
.cardPadder,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.actionSheetMenuItem:hover,
.dialog,
.listItemIcon,
.listItem-border,
.button-flat,
.visualCardBox,
.checkboxOutline,
.emby-select-withcolor,
.chapterThumbTextContainer,
.chapterThumbContainer,
.chapterThumb,
.emby-input,
.emby-textarea,
.emby-select-withcolor,
.cardOverlayButtonIcon,
.subtitleappearance-preview.flex.align-items-center.justify-content-center {
  border-radius: var(--rounding) !important;
}

.osdPoster img {
  border-radius: var(--rounding);
  border: none;
}

.mdl-slider::-moz-range-thumb {
  border-radius: var(--rounding);
}

.mdl-slider::-ms-thumb {
  border-radius: var(--rounding);
}

.mdl-slider::-webkit-slider-thumb {
  border-radius: var(--rounding);
}

.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.cardOverlayContainer,
.cardImageContainer,
.cardPadder,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.actionSheetMenuItem:hover,
.dialog {
  border-radius: var(--rounding) !important;
}

div[data-role="controlgroup"] a[data-role="button"]:first-child {
  border-bottom-left-radius: var(--rounding);
  border-top-left-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:last-child {
  border-bottom-right-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}

/*fixing Poster Margin*/

.itemsContainer > .card > .cardBox {
  margin: 16px !important;
}

.sectionTitleContainer.flex {
  box-shadow: 0 0 black !important;
}

/*Hover items*/

.emby-input,
.emby-textarea {
  color: inherit;
  border: 0.07em solid var(--accent);
  border-radius: var(--rounding);
  box-shadow: 0 0 8px 0px black !important;
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  text-shadow: 0 0 5px black;
}

.emby-select-withcolor {
  border: 0.07em solid var(--accent);
}

.playedIndicator,
.countIndicator {
  border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
}

.actionSheetMenuItem:hover {
  background: var(--deftraback) !important;
}

.cardBox {
  border-radius: var(--rounding);
  overflow: hidden;
  transition: all 0.15s;
}

.card:hover > .cardBox,
.card:focus > .cardBox {
  box-shadow: 0px 3px 9px 0px black;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.75);
}

.cardImageContainer {
  background-size: 105%;
  transition: all 0.15s;
}

.card:hover .cardImageContainer,
.card:focus .cardImageContainer {
  background-size: 130%;
}

.overflowSquareCard .cardImageContainer::before {
  content: "";
  background: inherit;
  width: 130%;
  height: 130%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-size: cover;
  -webkit-filter: brightness(40%) blur(10px);
  filter: brightness(40%) blur(10px);
  z-index: 0;
  transform: translate(-50%, -50%);
}

.overflowSquareCard .cardImageContainer::after {
  content: "";
  background: inherit;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  transition: all 0.15s;
}

.overflowSquareCard:hover .cardImageContainer::after {
  background-size: 120%;
}

.paper-icon-button-light:hover:not(:disabled) {
  color: var(--accent);
  background-color: #2020208c;
  box-shadow: 0 0 15px -2px black;
}

.button-flat {
  border-radius: var(--rounding) !important;
  text-shadow: 0 0 10px #181818;
}

#indexPage a.raised.homeLibraryButton.emby-button:hover {
  border-radius: 10px !important;
  box-shadow: 0px 3px 9px black;
  background: rgba(0, 0, 0, 0.75) !important;
}

#indexPage a.raised.homeLibraryButton.emby-button {
  background: rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 0 9px black;
  transition: all 0.2s;
}

.raised {
  background: var(--accent) !important;
  border-radius: var(--rounding) !important;
}

.mediaInfoItem {
  position: relative;
  margin-right: 16px;
  font-weight: 100;
}

.mediaInfoItem:not(:last-child):after {
  content: "";
  width: 1px;
  height: 100%;
  background: #7c7c7cee;
  position: absolute;
  right: -9px;
  border-radius: 10px;
}

.navMenuOption-selected {
  background: var(--accent) !important;
}

#itemDetailPage .button-flat:hover {
  color: var(--accent);
  transform: scale(1.5);
}

.listItem.listItem-border:hover {
  border-color: rgba(0, 0, 0, 0) !important;
  background: #3f3f3f;
}

.listItem.listItem-border {
  transition: border-color 0.2s, background 0.2s;
}

div#divRunningTasks:hover {
  transform: scale(1.1);
}

div#divRunningTasks {
  transition: transform 0.2s, background 0.2s;
}

.detailPageContent {
  text-shadow: none;
  background: #181818;
  background: transparent;
  padding-left: 0;
  padding-right: 0 !important;
}

.detailLogo {
  display: none;
}

.layout-mobile .detailPageContent {
  padding-right: 5% !important;
  background: #181818;
}

.layout-desktop #itemDetailPage:not(.noBackdrop) .detailPagePrimaryContainer,
.layout-tv #itemDetailPage:not(.noBackdrop) .detailPagePrimaryContainer {
  position: relative;
  top: 0;
  padding-left: 1rem;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  background: transparent;
  padding-bottom: 13rem;
  font-size: 20px;
  padding-top: 10rem;
  max-width: 95%;
  margin-top: calc(24vh + 3%);
}

.detailImageContainer .card {
  display: none;
}

.card[data-type="Actor"] .cardBox {
  background: none;
  position: relative;
}

.card[data-type="Actor"] .cardScalable {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  border-radius: var(--rounding);
}

.card[data-type="Actor"] .cardText {
  position: absolute;
  background: transparent !important;
}

.card[data-type="Actor"] .cardImageContainer::after {
  content: "";
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.75), transparent 70%);
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-top: 100%;
}

.card[data-type="Actor"] .cardText-secondary {
  bottom: 0%;
  width: -webkit-fill-available;
  border-radius: 0px 0px 10px 10px;
  height: 22px;
}

.card[data-type="Actor"] .cardText-first {
  bottom: 23.5px;
  width: -webkit-fill-available;
  height: 22px;
}

.layout-mobile .card[data-type="Actor"] .cardText-first {
  color: white !important;
}

.card[data-type="Actor"] .cardScalable {
  overflow: hidden;
  border-radius: var(--rounding);
  height: 3rem;
}

.card[data-type="Actor"] .cardOverlayButton-br {
  position: absolute;
  bottom: 23% !important;
  right: 0 !important;
}

.card[data-type="Actor"] .cardPadder {
  background: none;
}

.card[data-type="Actor"] .cardImageIcon {
  bottom: 41%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

select {
  box-shadow: 0 0 6px 0px black !important;
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(50px) !important;
  -webkit-backdrop-filter: blur(50px);
  text-shadow: 0 0 5px black !important;
}

.detailPagePrimaryContainer.padded-left.padded-right.detailRibbon,
button.button-flat.btnResume.detailButton.emby-button,
button.emby-tab-button.emby-button,
h2 {
  text-shadow: 0 0 5px black;
}

.tmla-mask {
  background-color: rgba(0, 0, 0, 0);
}

.dialogBackdrop {
  background-color: #0000;
}

.listItem:hover {
  background: black;
}

.listItem {
  transition: transform 0.2s, background 0.2s, border-color 0.2s;
}

/* Adjust both "size-adjust" and "size" to modify size */

.headerTabs.sectionTabs {
  -webkit-text-size-adjust: 130%;
  -moz-text-size-adjust: 130%;
  -ms-text-size-adjust: 130%;
  text-size-adjust: 130%;
  font-size: 130%;
}

.pageTitle {
  margin-top: auto;
  margin-bottom: auto;
}

.emby-tab-button {
  padding: 1.75em 1.7em;
}

/*Blur backdrops, feel free to edit the intensity of the filter values*/

.backdropImage {
  -webkit-filter: blur(25px) saturate(135%) contrast(110%) brightness(35%);
  filter: blur(25px) saturate(135%) contrast(110%) brightness(35%);
}

.backgroundContainer.withBackdrop {
  background-image: linear-gradient(
      to top,
      #181818,
      transparent,
      #181818 calc(100% - 4em)
    ),
    url(https://i.imgur.com/REuCzPK.png) !important;
  opacity: 1;
  z-index: -1;
  background-color: transparent;
}

/*Rounded corners and square hover buttons*/

.cardContent-button,
.cardContent-shadow,
.itemDetailImage,
.cardOverlayButton-hover,
.cardOverlayContainer,
.cardImageContainer,
.cardPadder,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.actionSheetMenuItem:hover,
.dialog {
  border-radius: var(--rounding) !important;
}

.dialog {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(60px) !important;
  -webkit-backdrop-filter: blur(60px) !important;
  -moz-backdrop-filter: blur (60px) !important;
  -o-backdrop-filter: blur(60px) !important;
  box-shadow: 0 0 0 2000vw rgb(0 0 0 / 45%), 0 0 20px 4px black;
}

/* Top menu transparency */

.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
  background: none;
  background-color: rgba(0, 0, 0, 0);
}

.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
  background: none;
  background-color: rgba(0, 0, 0, 0);
}

.playedIndicator {
  background: var(--accent);
}

.upNextDialog {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 8px 5px black;
}

.upNextDialog-poster-img {
  border-radius: var(--rounding);
}

/*Minimalistic play buttons*/

.cardOverlayFab-primary {
  background-color: #00000000;
}

.cardOverlayButtonIcon {
  background-color: #00000000 !important;
}

.cardOverlayContainer {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px 5px 0px 0px !important;
}

/*Theme some dialogues*/

.actionSheetMenuItem:hover {
  background-color: rgba(0, 164, 220, 0.2);
}

.mainDrawer.drawer-open {
  box-shadow: none !important;
  padding-right: 50%;
  background: linear-gradient(90deg, black 15%, transparent);
}

.navMenuOption {
  border-right-color: rgba(0, 0, 0, 0);
  border-right-width: 0.5em !important;
  border-right-style: solid;
  border-radius: var(--rounding) !important;
}

.navMenuOption:hover {
  background: var(--deftraback) !important;
  border-right-color: var(--accent);
}

/*Episode cards*/

.listItem[data-type="Audio"] .mediaInfoItem::after {
  display: none !important;
}

.listItem[data-type="Audio"] .listItem-indexnumberleft {
  padding-left: 5px;
}

#itemDetailPage .vertical-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 6px !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  margin: -6px;
  width: calc(100% - 6px);
}

.listItemImage-large-tv {
  width: 100%;
  height: 31vh;
}

.layout-tv #itemDetailPage .itemName.infoText.parentNameLast {
  display: block;
}

.listItem-withContentWrapper:hover
  .listItemImageButton.itemAction.paper-icon-button-light {
  opacity: 100%;
}

@media (max-width: 1291px) {
  #itemDetailPage .vertical-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991px) {
  #itemDetailPage .vertical-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.listItem-withContentWrapper {
  transition: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  margin: 6px;
  border-radius: var(--rounding);
  overflow: hidden;
  padding: 0;
  overflow: hidden;
  -webkit-border-radius: var(--rounding);
  -moz-border-radius: var(--rounding);
  -ms-border-radius: var(--rounding);
  -o-border-radius: var(--rounding);
}

.listItem-withContentWrapper:hover {
  background: transparent;
}

.listItem-content {
  height: 100%;
}

div:not(.paperList) .listItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 0;
}

.listItem-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.listItemImage.listItemImage-large.itemAction.lazy {
  height: 14rem;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  top: 0;
  left: 0;
  border-radius: 0 !important;
}

.listItemImage.listItemImage-large::after {
  content: "";
  background-image: -moz-
    oldlinear-gradient(bottom, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0) 95%);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 5%,
    rgba(0, 0, 0, 0) 95%
  );
  position: absolute;
  bottom: 0;
  right: -0.5px;
  left: 0;
  height: 55px;
}

.layout-mobile #itemDetailPage .vertical-list {
  grid-template-columns: 100%;
}

.listItem-overview {
  font-size: 12px !important;
  line-height: 18px;
  font-weight: 400 !important;
  color: #a3a3a3 !important;
}

.listItemBodyText {
  margin: 0 !important;
  font-size: 16px;
  font-weight: 700;
}

.secondary.listItem-overview.listItemBodyText {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.layout-mobile .listItem-bottomoverview {
  padding: 0 10px;
}

.listItemBody.itemAction {
  padding: 0 5px;
}

.card[data-type="CollectionFolder"] .cardText {
  height: 3rem;
}

.defaultCardBackground {
  background: var(--deftraback) !important;
}

#itemDetailPage::-webkit-scrollbar-track-piece {
  background: #181818;
}

.listItemImageButton.itemAction.paper-icon-button-light {
  opacity: 0;
  color: var(--accent);
  transition: all 0.2s;
}

.layout-mobile .listItemImageButton.itemAction.paper-icon-button-light {
  opacity: 100% !important;
}

/* My Media Styling */

.section0 button.itemAction.textActionButton {
  height: 3.5em;
  background: rgba(0, 0, 0, 0);
  border-radius: var(--rounding);
}

.section0 .overflowBackdropCard,
.section0 .overflowSmallBackdropCard {
  max-width: 90vw;
}

.section0 .emby-scroller {
  margin-right: 0;
}

@media (max-width: 1px) and (orientation: landscape) {
  .section0 {
    display: none;
  }
}

.section0 .sectionTitle {
  padding-top: 60px !important;
}

@media (max-width: 1px) {
  .section0 {
    display: none;
  }
}

.section0 .sectionTitle {
  padding-top: 60px !important;
}

.raised.homeLibraryButton:hover {
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.raised.homeLibraryButton {
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.homeLibraryButton {
  min-width: 12em;
  margin: 0.4em;
}

/*Theming for the dasboard*/

.paperList,
.visualCardBox {
  background-color: #000;
  border-radius: 5px;
}

.listItemIcon {
  border-radius: 5px !important;
}

.listItemIcon:not(.listItemIcon-transparent) {
  background-color: transparent !important;
  color: var(--accent);
}

.listItem-border {
  border-color: transparent !important;
}

.backgroundContainer {
  background-color: #101010;
}

.raised {
  background: var(--accent);
}

.headerButton.headerButtonRight.paper-icon-button-light.headerUserButtonRound {
  border-radius: var(--rounding) !important;
}

/*For browsers that don't support backdrop-filter*/

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .videoOsdBottom {
    background-color: rgba(0, 0, 0, 0.95);
  }
  .osdHeader {
    background: rgba(0, 0, 0, 0.95) !important;
  }
  .skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
    background-color: rgba(0, 0, 0, 0);
  }
  .tmla-mask {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .dialogBackdropOpened {
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0.1);
  }
  .dialog {
    background-color: rgba(0, 0, 0, 0.95) !important;
    box-shadow: 0 0 20px 4px black;
  }
  .mainDrawer {
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: none;
  }
  .playerStats {
    background: rgba(28, 28, 28, 0.8);
    box-shadow: 0 0 8px black !important;
  }
  /*Theming Playback data info*/
  .playerStats {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);
    box-shadow: 0 0 8px black;
  }
}

/* Chapters */

.chapterCard .innerCardFooter {
  height: auto;
  background: rgba(0, 0, 0, 0.7);
}

.chapterCard .innerCardFooter > .cardText:first-child {
  float: left;
}

.chapterCard .innerCardFooter > .cardText:last-child {
  float: right;
}
