#itemDetailPage .detailLogo {
  position: absolute;
  left: 1%;
  top: 5%;
  background-position: 0 !important;
  display: block !important;
  width: 55%;
  height: 17vh;
}

.layout-mobile .detailRibbon {
  margin-top: 0 !important;
}

.layout-mobile .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon{
  padding-top: 4.5rem !important;
}

.hide + .detailPageWrapperContainer .detailRibbon {
  padding-top: 10rem !important;
  padding-bottom: 13rem !important;
}

.layout-desktop #itemDetailPage:not(.noBackdrop) .detailPagePrimaryContainer, .layout-tv #itemDetailPage:not(.noBackdrop) .detailPagePrimaryContainer {
  padding-bottom: 0;
  padding-top: 20rem !important;
}


.layout-desktop #itemDetailPage:not(.noBackdrop) .detailPagePrimaryContainer, .layout-tv #itemDetailPage:not(.noBackdrop) .detailPagePrimaryContainer {
  padding-bottom: 0;
  padding-top: 20rem !important;
}


#itemDetailPage .itemName.infoText.parentNameLast {
  display: none;
}

.hide+.detailPageWrapperContainer .itemName {
  display: block !important;
}

.itemName {
  margin: .5em 0 !important;
}

.layout-mobile #itemDetailPage .detailLogo {
  z-index: 1;
  width: 90%;
  background-position: 50% !important;
  left: 50%;
  top: 37%;
  transform: translateX(-50%);
  height: 20%;
}
@media (max-width: 456px){
  .layout-mobile #itemDetailPage .detailLogo {
    z-index: 1;
    width: 90%;
    background-position: 50% !important;
    left: 50%;
    top: 37%;
    transform: translateX(-50%);
    height: 30%;
  }
}
@media (max-width: 321px){
  .layout-mobile #itemDetailPage .detailLogo {
    height: 25%;
  }
  .layout-mobile #itemDetailPage .detailLogo {
    height: 25% !important;
    top: 50% !important;
  }
}
@media (max-width: 769px) and (min-width: 425px){
  .layout-mobile #itemDetailPage .detailLogo {
    height: 35%;
    top: 62%;
  }
}
