#itemDetailPage .detailLogo {
  position: absolute;
  left: 33%;
  top: 48%;
  background-position: 0 !important;
  display:block;
}

.layout-mobile .detailRibbon {
  margin-top: 0 !important;
}

.layout-mobile .detailLogo {
  display: none;
}

.layout-mobile .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon{
  padding-top: 4.5rem !important;
}

#itemDetailPage .itemName.infoText.parentNameLast {
  display: none;
}

.hide+.detailPageWrapperContainer .itemName {
  display: block !important;
}

.itemName {
  margin: .5em 0 !important;
}

.layout-mobile #itemDetailPage .detailLogo {
  z-index: 1;
  width: 90%;
  background-position: 50% !important;
  left: 50%;
  top: 37%;
  transform: translateX(-50%);
  height: 20%;
}
