#itemDetailPage .detailLogo {
  position: static;
  background-position: 0 !important;
  display: block !important;
  height: 20vh;
  max-width: 35vw;
  width: auto;
  flex-shrink: 0;
  margin-left: 5vw;
  margin-top: 10vh;
}

div#itemDetailPage {
  display: flex;
  flex-direction: column;
}

.detailPagePrimaryContent {
  min-height: 60vh !important;
}

.layout-mobile .detailRibbon {
  margin-top: 0 !important;
}

.hide + .detailPageWrapperContainer .detailPagePrimaryContent {
  min-height: 65vh !important;
}

.hide + .detailPageWrapperContainer .detailRibbon {
  position: relative !important;
  top: 0;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  background: transparent;
  max-width: 100vw !important;
  margin-top: 10vh !important;
  padding: 0 !important;
  height: 25vh !important;
  font-size: 135% !important;
}

.layout-desktop #itemDetailPage:not(.noBackdrop) .detailPagePrimaryContainer,
.layout-tv #itemDetailPage:not(.noBackdrop) .detailPagePrimaryContainer {
  margin: 0;
  padding: 0;
  height: 10vh;
}

:not(.hide) + .detailPageWrapperContainer .parentName,
:not(.hide) + .detailPageWrapperContainer .parentNameLast,
:not(.hide) + .detailPageWrapperContainer .parentName > *,
:not(.hide) + .detailPageWrapperContainer .parentNameLast > * {
  font-size: 0;
  display: block;
  position: fixed;
  background: transparent;
  width: 35vw;
  height: 20vh;
  top: 10vh;
  left: 5vw;
}

.layout-mobile #itemDetailPage .parentName,
.layout-mobile #itemDetailPage .parentNameLast {
  display: block;
}

.hide + .detailPageWrapperContainer .parentName,
.hide + .detailPageWrapperContainer .parentNameLast {
  display: block !important;
}

.itemName {
  margin: 0.5em 0 !important;
}

.layout-mobile #itemDetailPage .detailLogo {
  display: none !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
  display: block;
  width: calc(100% - 10vw);
  position: static;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 10.5vw;
}

#itemDetailPage .detailLogo.hide {
  display: none !important;
}
